:root {
  --background-color: #333333;
  --background-form-color: #4B4B4B;
  --interactive: #575757;
  --interactiveField: #808080;

  --highlight: #52BFFD;
  --text: #FFFFFF;
  --textBlank: #B7B7B7;
  --error: #C55555;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 100px;
  border-inline: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-button {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--highlight);
  border-radius: 100px;
}

.mainContainer {
  width: calc(100vw - 4px);
  height: calc(100vh - 4px);
  min-width: 400px;
  min-height: 400px;
  background-color: var(--background-color);
  flex-direction: column;
  outline: 2px solid var(--background-color);
  margin: 2px;
  overflow: hidden;
  transition: outline 0.6s;
}

.formButtonClosed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 60px;
  min-width: 300px;
  height: 60px;
  width: 300px;
  border-radius: 20px;
  background-color: var(--background-form-color);
  outline: 2px solid var(--background-form-color);
  color: var(--text);
  transition: outline 0.3s, width 0.3s, height 0.3s;
  z-index: 2;
}

.formButtonClosed:hover {
  outline: 2px solid var(--highlight);
}

.formButtonOpen {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 80px;
  min-width: 440px;
  height: 85vh;
  width: 65vw;
  border-radius: 20px;
  color: var(--text);
  background-color: var(--background-form-color);
  outline: 2px solid var(--background-form-color);
  transition: outline 0.3s, width 0.3s, height 0.3s;
  z-index: 2;
  overflow: hidden;
}

.formContainer {
  margin-block: 4vh;
  overflow: hidden;
  position: relative;
}

.formIntarectableContainer {
  margin-inline: 2vw;
  margin-block-start: 8px;
  max-height: 74vh;
  min-height: 74vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.formButtonContainer {
  height: 100%;
  width: 100%;
  display: table;
}

@media (pointer: coarse) {

  #icon {
    stroke: var(--highlight);
  }

  #previewIcon {
    stroke: var(--background-form-color);
  }

  .formButton {
    height: 30px;
    width: 160px;
    font-size: 24px;
    font-weight: 500;
    color: var(--background-form-color);
    background-color: var(--highlight);
    padding-inline: 20px;
    padding-block: 15px;
    border-radius: 10px;
    display: flex;
    flex: 0;
    user-select: none;
    cursor: pointer;
    z-index: 4;
    transition: width 0.3s, background-color 0.3s, opacity 0.2s, color 0.2s;
  }

  .formButton:hover {
    width: 160px;


    transition: width 0.3s, background-color 0.3s, opacity 0.2s, color 0.6s;
  }
}

@media (pointer: fine),
(pointer: none) {
  #icon {
    stroke: var(--background-form-color);
  }

  #previewIcon {
    stroke: var(--highlight);
  }

  .formButton {
    height: 30px;
    width: 30px;
    font-size: 24px;
    font-weight: 500;
    color: transparent;
    background-color: transparent;
    padding-inline: 20px;
    padding-block: 15px;
    border-radius: 10px;
    display: flex;
    flex: 0;
    user-select: none;
    cursor: pointer;
    z-index: 4;
    transition: width 0.3s, background-color 0.3s, opacity 0.2s, color 0.2s;
  }

  .formButton:hover {
    width: 160px;
    background-color: var(--highlight);
    color: var(--background-form-color);
    transition: width 0.3s, background-color 0.3s, opacity 0.2s, color 0.6s;
  }
}

@media (pointer: fine) and (any-pointer: coarse) {
  /* touch desktop */
}

.formHeader {
  margin-inline: 4vw;
  font-size: 24px;
  font-weight: 600;
  display: inline;
  flex: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--highlight);
  transition: font-size 0.3s, ;
  user-select: none;
}

.formButtonHeader {
  font-size: 18px;
  text-align: center;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  display: table-cell;
  padding: 10px;
  user-select: none;
  border-bottom: 0px solid var(--background-form-color);
  transition: font-size 0.3s, border-bottom cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

.autograph {
  position: absolute;
  white-space: pre;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  padding: 10px;
  color: var(--text);
}

.agVisible {
  opacity: 100%;
  transition: opacity 3s;
}

.agHidden {
  opacity: 0%;
  transition: opacity 0.5s;
}


.formField {
  margin-inline: 2vw;
  position: relative;
  font-size: 18px;
  height: auto;
  flex: 1;
  width: auto;
  border-radius: 20px;
  background-color: var(--interactive);
  margin-block: 20px;
  padding-inline: 30px;
  overflow: hidden;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  display: flex;
  outline: 2px solid var(--background-form-color);
  transition: outline 0.3s, background-color 0.3s, height 0.3s;
}

.formFieldComment {
  margin-inline: 2vw;
  position: relative;
  font-size: 18px;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-color: var(--interactive);
  margin-block: 20px;
  padding-inline: 30px;
  overflow: hidden;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  display: flex;
  word-wrap: break-word;
  outline: 2px solid var(--background-form-color);
  transition: outline 0.3s, background-color 0.3s, height 0.3s;
}

.formFieldComment:hover {
  outline: 2px solid var(--highlight);
  transition: outline 0.3s, background-color 0.3s, height 0.3s;
}

.formFieldInput,
.formFieldInput:hover {
  background-color: transparent;
  color: var(--text);
  min-height: 200px;
  max-width: 50vw;
  font-size: 18px;
  padding-block: 18px;
  outline: none;
  border: none;
  box-shadow: none;
  resize: none;
  font-family: inherit;
}

.growWrap {
  display: grid;
}

.growWrap::after {
  content: attr(data-replicated-value);
  white-space: pre-wrap;
  visibility: hidden;
}

.growWrap>.formFieldInput {
  resize: none;
  overflow: hidden;
}

.growWrap>.formFieldInput,
.growWrap::after {
  background-color: transparent;
  color: var(--text);
  min-height: 200px;
  max-width: 50vw;
  font-size: 18px;
  padding-block: 18px;
  outline: none;
  border: none;
  box-shadow: none;
  resize: none;
  font-family: inherit;

  grid-area: 1/1/2/2;
}

.formFieldInput::placeholder {
  color: var(--textBlank)
}

.translate {
  transition: height 0.3s;
}

.formField:hover {
  outline: 2px solid var(--highlight);
}

.formFieldSelected {
  margin-inline: 2vw;
  position: relative;
  font-size: 18px;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-color: var(--interactiveField);
  margin-block: 20px;
  padding-inline: 30px;
  flex: 1;
  z-index: 3;
  flex-direction: column;
  justify-content: center;
  display: flex;
  outline: 2px solid var(--background-form-color);
  transition: background-color 0.3s, width 0.3s, height 0.3s;
}

.formFieldSelectedHeader {
  flex-direction: column;
  justify-content: center;
  display: flex;
  height: 60px;
  width: 100%;
}

.formText {
  color: var(--text);
  transition: color 0.3s;
}

.formTextBlank {
  color: var(--textBlank);
  transition: color 0.3s;
}

.iconTriangle {
  position: absolute;
  right: 20px;
  width: 15px;
  z-index: 4;
  top: 30px;
  transition: transform 0.3s;
}

#triangle {
  fill: var(--highlight)
}

.formFieldItem {
  height: 30px;
  width: auto;
  min-width: 40px;
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

.formFieldItemGrid {
  height: 30px;
  width: auto;
  min-width: 40px;
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
}

.formFieldItemGridSelected,
.formFieldItemGrid:hover {
  height: 30px;
  width: auto;
  min-width: 40px;
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: var(--highlight);
  color: var(--background-form-color);
  user-select: none;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
}

.formFieldItemDayGrid {
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
}

.formFieldItemDayGridSelected,
.formFieldItemDayGrid:hover {
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: var(--highlight);
  color: var(--background-form-color);
  user-select: none;
  transition: background-color 0.5s, color 0.5s;
  text-align: center;
}

.formDayName {
  color: var(--highlight);
  text-align: center;
  user-select: none;
}

.formFieldGridWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.formFieldDayWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 6px;
}

.box {
  background: grey;
  padding: 20px 20px 20px 20px;
}

.formFieldItemSelected,
.formFieldItem:hover {
  height: 30px;
  width: auto;
  min-width: 40px;
  border-radius: 10px;
  margin-block: 2px;
  padding-inline: 10px;
  padding-block: 6px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  user-select: none;
  background-color: var(--highlight);
  color: var(--background-form-color);
  user-select: none;
  transition: background-color 0.5s, color 0.5s;
}

.formButtonWrapper {
  display: flex;
  flex-direction: row;
  margin-inline: 4vw;
  position: absolute;
  min-width: 400px;
  width: 56vw;
  bottom: 0px;
  height: 80px;
  z-index: 10;
}



.formErrorText {
  color: var(--error);
  user-select: none;
  transition: color 0.3s;
}

.formFieldError,
.formFieldError:hover {
  outline: 2px solid var(--error);
  transition: outline 1s;
}

.highlightEdge {
  outline: 2px solid var(--highlight);
  transition: outline 0.6s;
}

.highlightEdgeError {
  outline: 2px solid var(--error);
  transition: outline 0.6s;
}

.formLRSelectorWrapper {
  display: flex;
  padding-bottom: 10px;
}

.formLRText {
  min-width: 80px;
  text-align: center;
  user-select: none;
}

.formButtonInterClose {
  padding-inline: 20px;
  padding-block: 15px;
}

#lrArrow {
  stroke: var(--highlight);
}


.formTimeWrapper {
  display: flex;
  flex-direction: row;
}

.formTimeInput {
  width: 40px;
  height: 40px;
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  color: var(--text);
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
  border-bottom: 2px solid var(--highlight)
}

.formTimeInputSelected {
  width: 40px;
  height: 40px;
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  color: var(--interactiveField);

  border: none;
  outline: none;
  flex: 1;
  background-color: var(--highlight);
}